Options -Indexes
ErrorDocument 400 /errors.php
ErrorDocument 403 /errors.php
ErrorDocument 404 /errors.php
ErrorDocument 405 /errors.php
ErrorDocument 408 /errors.php
ErrorDocument 500 /errors.php
ErrorDocument 502 /errors.php
ErrorDocument 504 /errors.php

Options +FollowSymLinks
RewriteEngine on
RedirectMatch 301 ^/$ http://joshemerson.co.uk